/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --zinc50: #fafafa;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --zinc50: rgb(31, 31, 34);
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20.3%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'HarmonyOS';
  src:url('/assets/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HarmonyOS';
  src:url('/assets/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'HarmonyOS';
  src:url('/assets/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'HarmonyOS';
  background: transparent;
  overflow: hidden;
}

.drag {
  -webkit-app-region: drag;
  user-select: none;
}

.nodrag {
  -webkit-app-region: no-drag;
}

.inputUnderline {
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
}

.inputUnderline:focus-within::before,
.inputUnderline:active::before {
  width: 100%;
  left: 0;
  opacity: 1;
}

.inputUnderline::before {

  content: '';
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #1a73e8;
  transition: all ease-in-out .14s;
  z-index: 30;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb {
  background: rgb(255,255,255,.22);
  border-radius: 5px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0,0,0,.22);
  border-radius: 5px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.turnpage{
  transform-style: preserve-3d;
  perspective: 900px;
}
.turnpage>.page{
  transform-origin: left;
  transition: transform ease .78s;
  z-index: 2;
}
.turnpage>.page.active{
  left: 50%;
  transform: rotateY(-180deg);
  transition: transform ease 1.12s;
}
.turnpage>.page.active input,.turnpage>.page.active p{
  transform: rotateY(-180deg);
  transition: transform ease 1.12s;
}